name: Build and publish Apptainer image

on:
  push:
    branches:
      - main
      - master

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Apptainer Container
        uses: apptainer/build-actions@v1.0.0
        with:
          recipe: pkoffee.def
          output: pkoffee.sif

      - name: Log in to GitHub Container Registry
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | apptainer remote login -u ${{ github.actor }} --password-stdin oras://ghcr.io

      - name: Push to GitHub Container Registry
        run: |
          apptainer push pkoffee.sif oras://ghcr.io/${{ github.repository }}:latest
          apptainer push pkoffee.sif oras://ghcr.io/${{ github.repository }}:${{ github.sha }}
