name: Build and publish Apptainer image

on:
  push:
    branches:
      - main
      - master

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Apptainer
        uses: eWaterCycle/setup-apptainer@v2
        with:
          apptainer-version: 1.3.0

      - name: Log in to GitHub Container Registry
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | apptainer remote login -u ${{ github.actor }} --password-stdin oras://ghcr.io

      - name: Build Apptainer image
        run: |
          apptainer build --fakeroot pkoffee.sif pkoffee.def

      - name: Push to GitHub Container Registry
        run: |
          apptainer push pkoffee.sif oras://ghcr.io/${{ github.repository }}:latest
          apptainer push pkoffee.sif oras://ghcr.io/${{ github.repository }}:${{ github.sha }}
