name: github CI workflow
on: [push]

jobs:
  code-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.63.0
      - name: Run code ruff check
        run: pixi run ruff check .
  unit-tests:
    runs-on: ubuntu-latest
    needs: code-checks # don't bother running tests if code-checks fails.
    steps:
      - name: Checkout the code
        uses: actions/checkout@v6
      - name: Install pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.62.2 # good to pin this since pixi is not 1.0 yet!
      - run: pixi run pytest